/* _Layout.cshtml.css */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-word;
    color: #ffffff !important;
}

.navbar {
    background-color: #000000 !important;
}

    .navbar .nav-link,
    .navbar .btn-link,
    .navbar .navbar-toggler-icon {
        color: #ffffff !important;
    }

        .navbar .nav-link:hover,
        .navbar .btn-link:hover {
            color: #FFD700 !important;
        }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #000000;
    background-color: #FFD700;
    border-color: #e5c100;
    text-decoration:none;
}

.border-top {
    border-top: 1px solid #cccccc;
}

.border-bottom {
    border-bottom: 1px solid #cccccc;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .15);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
